<div id="about" class="section">
	<h1>Acerca de</h1>
	<br>
	<div class="text">
		<p>
			Heda Weng
			<br>
			Diseñador/Programador creativo
			<br>
			Doctorando en Universidad Complutense de Madrid
			<br>
			Madrid, España
		</p>
	</div>
</div>