@font-face {
    font-family: Larsseit;
    src: asset-url('Larsseit-Light.otf', font) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: PingHei;
    src: asset-url('PingHei-Light.woff', font) format('woff');
    font-weight: 300;
}