@font-face {
    font-family: Larsseit;
    src: asset-url('Larsseit-Light.otf', font) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: Larsseit;
    src: asset-url('Larsseit.otf', font) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: Larsseit;
    src: asset-url('Larsseit-Bold.otf', font) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: Hiragino;
    src: asset-url('Hiragino-Light.otf', font) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: Hiragino;
    src: asset-url('Hiragino-Bold.otf', font) format('opentype');
    font-weight: 500;
}